.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 30px;
}

.stats .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.stats .container .circular-progress{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background: conic-gradient(var(--main-color), 0deg, var(--sub-alt-color) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background var(--colorTransition);
}

.stats .container .circular-progress::before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: var(--bg-color);
    border-radius: 50%;
    transition: background-color var(--colorTransition);
}

.stats .container .progress-value{
    position: relative;
    color: var(--text-color);
    font-weight: 600;
    transition: color var(--colorTransition);
    animation: var(--colorAnim);
}

.stats .container .stat-heading{
    color: var(--sub-color);
    font-size: 14px;
    transition: color var(--colorTransition);
}